@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0 50px;
}

h1 {
  padding-top: 150px;
  text-align: center;
}

.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  max-width: 800px;;
  height: 50vh;
}

p {
  width: 250px;
  padding: 10px;
  word-wrap: break-word;
}

#posts {
  width: 400px;
}

#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 10px;
}

i {
  cursor: pointer;
}

#msg {
  color: red;
}

button[type="submit"] {
  padding: 10px;

}